# Dependencies
node_modules

# Python
__pycache__/
*.pyc

# Build output
dist
dist-ssr
out
release
*.local
build/entitlements.mac.plist

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Cache
.eslintcache
.cache

# Environment variables
.env
.env.local
.env.*.local

# electron-builder output
release

# User data (electron-store)
config.json
